footer{
  height: 77px;
  .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
      font-size: 20px;
      letter-spacing: 1px;
      span{
        color: var(--red);
      }
    }
  }
}
