<aside id="mobile-menu">
  <div class="container">
    <ul class="links d-flex list-unstyled p-0 m-0">
      <li>
        <a
          [routerLink]="['/home']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a [routerLink]="['/services']" routerLinkActive="active">Services</a>
      </li>
      <li>
        <a [routerLink]="['/appointments']" routerLinkActive="active"
          >Appointment</a
        >
      </li>
      <li>
        <a [routerLink]="['/doctors']" routerLinkActive="active">Doctor</a>
      </li>
      <!-- <li><a [routerLink]="['/blog']" routerLinkActive="active">Blog</a></li> -->
      <li>
        <a [routerLink]="['/login']" routerLinkActive="active">login</a>
      </li>
      <li>
        <a [routerLink]="['/register']" routerLinkActive="active">Register</a>
      </li>
    </ul>
  </div>
</aside>
