section {
  padding: 80px 0;
  .container-fluid {
    .row {
      .box {
        position: relative;
        // max-width: ;
        .holder {
          overflow: hidden;
          border: 1px solid var(--grey);
          width: fit-content;
          border-radius: 10px;
          position: relative;
          min-width: 100%;
          min-height: 100%;
          img {
            height: 100%;
            width: 100%;
            aspect-ratio: 3/2;
          }
          .info {
            position: absolute;
            z-index: 11;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            // background-color: #ffffffab;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transition: background 0.3s;
            h1 {
              font-size: 46px;
              color: var(--red);
              position: absolute;
              transform: translateY(-500%);
              transition: 0.4s;
            }
            h2 {
              color: var(--light-blue);
              position: absolute;
              transform: translateY(700%);
              transition: 0.4s;
            }
            &:hover {
              h1 {
                transform: translateY(-50%);
              }
              h2 {
                transform: translateY(50%);
              }
            }
          }
          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            z-index: 12;
            border-radius: 5px;
            transition: 0.5s;
          }
          &::before {
            left: -2px;
            top: -2px;
            border-width: 2px;
            border-style: solid;
            border-color: var(--red) transparent transparent var(--red);
          }
          &::after {
            right: -2px;
            bottom: -2px;
            border-width: 2px;
            border-style: solid;
            border-color: transparent var(--red) var(--red) transparent;
          }
          &:hover {
            .info {
              background-color: #ffffffab;
            }
            &::before {
              left: 20px;
              top: 20px;
            }
            &::after {
              right: 20px;
              bottom: 20px;
            }
          }
        }
      }
    }
  }
}
