<section>
  <h3 class="main-heading">Gallery</h3>
  <div class="container-fluid">
    <div class="row">
      <div class="box col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="holder">
          <img
            src="https://img.freepik.com/premium-photo/professional-photography-showcasing-medical-technologies_1281529-18469.jpg"
            alt=""
          />
          <div class="info">
            <h1 id="title">Title</h1>
            <h2 id="subtitle">Subtitle</h2>
          </div>
        </div>
      </div>
      <div class="box col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="holder">
          <img
            src="https://images.pexels.com/photos/139398/thermometer-headache-pain-pills-139398.jpeg?cs=srgb&dl=pexels-pixabay-139398.jpg&fm=jpg"
            alt=""
          />
          <div class="info">
            <h1 id="title">Title</h1>
            <h2 id="subtitle">Subtitle</h2>
          </div>
        </div>
      </div>
      <div class="box col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="holder">
          <img
            src="https://st2.depositphotos.com/1907633/6917/i/450/depositphotos_69170339-stock-photo-smart-medical-doctor-hand-showing.jpg"
            alt=""
          />
          <div class="info">
            <h1 id="title">Title</h1>
            <h2 id="subtitle">Subtitle</h2>
          </div>
        </div>
      </div>
      <div class="box col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="holder">
          <img
            src="https://img.freepik.com/free-photo/medical-banner-with-doctor-working-laptop_23-2149611211.jpg"
            alt=""
          />
          <div class="info">
            <h1 id="title">Title</h1>
            <h2 id="subtitle">Subtitle</h2>
          </div>
        </div>
      </div>
      <div class="box col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="holder">
          <img
            src="https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt=""
          />
          <div class="info">
            <h1 id="title">Title</h1>
            <h2 id="subtitle">Subtitle</h2>
          </div>
        </div>
      </div>
      <div class="box col-lg-4 col-md-6 col-sm-12">
        <div class="holder">
          <img
            src="https://media.istockphoto.com/id/1319031310/photo/doctor-writing-a-medical-prescription.jpg?s=612x612&w=0&k=20&c=DWZGM8lBb5Bun7cbxhKT1ruVxRC_itvFzA9jxgoA0N8="
            alt=""
          />
          <div class="info">
            <h1 id="title">Title</h1>
            <h2 id="subtitle">Subtitle</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
