section {
  padding: 80px 0;
  background-color: var(--grey);
  .container {
    .row {
      .col {
        .service {
          border: 2px solid var(--light-blue);
          padding: 40px 20px;
          text-align: center;
          border-radius: 10px;
          transition: scale 0.3s, box-shadow 0.3s;
          position: relative;
          overflow: hidden;
          .rounded-sq {
            border: 1px solid var(--light-blue);
            width: 100px;
            height: 100px;
            margin: 0 auto 30px;
            border-radius: 50%;
            font-size: 40px;
            color: var(--light-blue);
            position: relative;
          }
          h4 {
            position: relative;
            margin-bottom: 20px;
            color: var(--red);
          }
          p {
            // color: var(--light-blue);
            position: relative;
          }
          button {
            position: relative;
            z-index: 1;
          }
          &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.365);
            width: 100%;
            height: 100%;
            scale: 0;
            transition: .3s;
            border-radius: 50%;
          }
          &:hover::before{
            scale: 1;
            border-radius: 0;
          }
          &:hover {
            scale: 1.03;
            box-shadow: 0 0 10px #00000035;
          }
        }
      }
    }
  }
}
