<section>
  <h3 class="main-heading">Services</h3>
  <div class="container">
    <div class="row">
      <div class="col col-12 mb-4 col-md-6 col-lg-3">
        <div class="service">
          <div
            class="rounded-sq d-flex justify-content-center align-items-center"
          >
            <i class="fa-solid fa-notes-medical"></i>
          </div>
          <h4>Lorem ipsum dolor</h4>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
            dicta.
          </p>
          <button class="main-btn">Explore</button>
        </div>
      </div>
      <div class="col col-12 mb-4 col-md-6 col-lg-3">
        <div class="service">
          <div
            class="rounded-sq d-flex justify-content-center align-items-center"
          >
            <i class="fa-solid fa-user-doctor"></i>
          </div>
          <h4>Lorem ipsum dolor</h4>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
            dicta.
          </p>
          <button class="main-btn">Explore</button>
        </div>
      </div>
      <div class="col col-12 mb-4 col-md-6 col-lg-3">
        <div class="service">
          <div
            class="rounded-sq d-flex justify-content-center align-items-center"
          >
            <i class="fa-solid fa-laptop-medical"></i>
          </div>
          <h4>Lorem ipsum dolor</h4>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
            dicta.
          </p>
          <button class="main-btn">Explore</button>
        </div>
      </div>
      <div class="col col-12 mb-4 col-md-6 col-lg-3">
        <div class="service">
          <div
            class="rounded-sq d-flex justify-content-center align-items-center"
          >
            <i class="fa-solid fa-comment-medical"></i>
          </div>
          <h4>Lorem ipsum dolor</h4>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
            dicta.
          </p>
          <button class="main-btn">Explore</button>
        </div>
      </div>
    </div>
  </div>
</section>
