section {
  nav {
    background-color: var(--grey);
    padding: 80px 0 30px;
    text-align: center;
    margin-bottom: 30px;
    input {
      width: 400px;
      margin: 0 auto 20px;
      padding: 5px 10px;
      color: var(--light-blue);
      font-size: 22px;
      &:focus {
        outline: 1px solid var(--dark-blue);
        outline: none;
        box-shadow: 0 0 5px var(--dark-blue);
        border: 1px solid var(--dark-blue);
      }
    }
    button {
      position: relative;
      z-index: 11;
      margin: auto;
      width: fit-content;
    }
  }
}
