<section>
  <nav>
    <h3 class="main-heading">Our Doctors!</h3>
    <input type="search" placeholder="Search By Name" class="form-control" />
    <button class="main-btn">Search</button>
  </nav>
  <div class="container">
    <div class="row">
      <div class="mb-4 col-12 col-md-6">
        <div class="card">
          <h5 class="card-header"><b>Dr. Mostafa Mahmoud</b></h5>
          <div class="card-body">
            <h5 class="card-title">Internist</h5>
            <p class="card-text">Graduated from Cairo University.</p>
            <a href="http://localhost:3179/appointments" class="btn btn-primary"
              >Appoinment</a
            >
          </div>
        </div>
      </div>
      <div class="mb-4 col-12 col-md-6">
        <div class="card">
          <h5 class="card-header"><B>Dr. Ahmed ali</B></h5>
          <div class="card-body">
            <h5 class="card-title">Urologist</h5>
            <p class="card-text">Graduated from Cairo University.</p>
            <a href="http://localhost:3179/appointments" class="btn btn-primary"
              >Appoinment</a
            >
          </div>
        </div>
      </div>
      <div class="mb-4 col-12 col-md-6">
        <div class="card">
          <h5 class="card-header"><b>Dr. mohmed hany</b></h5>
          <div class="card-body">
            <h5 class="card-title">Psychiatrist</h5>
            <p class="card-text">Graduated from minya University.</p>
            <a href="http://localhost:3179/appointments" class="btn btn-primary"
              >Appoinment</a
            >
          </div>
        </div>
      </div>
      <div class="mb-4 col-12 col-md-6">
        <div class="card">
          <h5 class="card-header"><b>Dr. Ahmed Essam</b></h5>
          <div class="card-body">
            <h5 class="card-title">Neurosurgeon</h5>
            <p class="card-text">Graduated from assiut University.</p>
            <a href="http://localhost:3179/appointments" class="btn btn-primary"
              >Appoinment</a
            >
          </div>
        </div>
      </div>
      <div class="mb-4 col-12 col-md-6">
        <div class="card">
          <h5 class="card-header"><b>Dr. Hossam Mowafi</b></h5>
          <div class="card-body">
            <h5 class="card-title">Internal Medicine Specialist</h5>
            <p class="card-text">Graduated from Cairo University.</p>
            <a href="http://localhost:3179/appointments" class="btn btn-primary"
              >Appoinment</a
            >
          </div>
        </div>
      </div>
      <div class="mb-4 col-12 col-md-6">
        <div class="card">
          <h5 class="card-header"><b>Dr. Walid El-Dessouky</b></h5>
          <div class="card-body">
            <h5 class="card-title">Dermatologist</h5>
            <p class="card-text">Graduated from ain-shams University.</p>
            <a href="http://localhost:3179/appointments" class="btn btn-primary"
              >Appoinment</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
