<section>
  <h3 class="main-heading">Contact Us</h3>
  <div class="container">
    <div class="row mb-4">
      <div class="input-group col">
        <div class="input-group-text">Name</div>
        <input type="text" class="form-control" placeholder="John Doe" />
      </div>
      <div class="input-group col col">
        <div class="input-group-text">E-Mail</div>
        <input
          type="email"
          class="form-control"
          placeholder="name@example.com"
        />
      </div>
    </div>
    <div class="row mb-4">
      <div class="input-group col">
        <div class="input-group-text">Message Title</div>
        <input type="text" class="form-control" placeholder="I want ....." />
      </div>
      <div class="input-group col col">
        <div class="input-group-text">Number</div>
        <input type="email" class="form-control" placeholder="01xxxxxxxxx" />
      </div>
    </div>
    <div class="row mb-4">
      <label for="basic-url" class="form-label">Your Message:</label>
      <div class="input-group col col">
        <textarea class="form-control" placeholder="Dear NTG Care, ...."></textarea>
      </div>
      <div class="form-text" id="basic-addon4">
        If you have any problem you can write us a message
      </div>
    </div>
  </div>
</section>
