section {
  padding: 80px 0;
  background-color: var(--grey);
  .container {
    .row {
      .box {
        display: flex;
        align-items: center;
        gap: 10px;
        width: fit-content;
        margin: auto;
        @media (max-width: 767px) {
          margin: 0;
          margin-bottom: 30px;
        }
        .icon-holder {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px dashed var(--light-blue);
          width: 70px;
          height: 70px;
          border-radius: 50%;
          transition: background 0.3s;
          i {
            font-size: 25px;
            color: var(--light-blue);
            margin: 0;
            padding: 0;
            transition: color 0.3s;
          }
        }
        &:hover {
          .icon-holder {
            background-color: var(--light-blue);
            i {
              color: var(--white);
            }
          }
        }
        .info {
          h1 {
            margin-bottom: 4px;
            color: var(--red);
          }
          p {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}
