section {
  // background-image: url(https://placehold.co/2000x1000);
  background-image: url(/imgs/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 800px;
  position: relative;
  &::before {
    content: "";
    // background-color: #000000d0;
    background-color: #233f8ebc;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .container {
    height: 800px;
    flex-direction: column;
    position: relative;
    h2 {
      color: var(--white);
      font-size: 50px;
      font-weight: 900;
      @media (max-width: 767px) {
        font-size: 38px;
      }
    }
    p {
      color: var(--white);
      letter-spacing: 1px;
      line-height: 2;
      text-align: center;
    }
  }
}
