<section>
  <h3 class="main-heading">About Us</h3>
  <div class="container">
    <div class="text mb-5 mb-md-0">
      <h4 class="pb-3">Welcome to NTG Care</h4>
      <p class="pb-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam
        hic rerum inventore voluptatibus fuga, sequi adipisci aspernatur vero
        enim, quaerat consequscreenuntur doloribus ipsum est eaque repellat at.
        Ipsa, soluta?
      </p>
      <p class="pb-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam
        hic rerum inventore voluptatibus fuga, sequi adipisci aspernatur vero
        enim, quaerat consequuntur doloribus ipsum est eaque repellat at. Ipsa,
        soluta?
      </p>
      <button class="main-btn">Read More</button>
    </div>
    <div class="image">
      <img src="/imgs/about.jpg" alt="about-us" />
    </div>
  </div>
</section>
