<section>
  <h3 class="main-heading">About Us</h3>
  <div class="container">
    <div class="text mb-5 mb-md-0">
      <h4 class="pb-3">Welcome to NTG Care</h4>
      <p class="pb-1">
        where your health and comfort are our top priorities. Our dedicated team
        of healthcare professionals is here to provide you with exceptional care
        and support in a compassionate and friendly environment. We are
        committed to making your experience with us as positive and reassuring
        as possible.
      </p>
      <p class="pb-1">
        At NTG Care, we believe in treating you with the highest level of care
        and respect. Our experienced staff is here to offer personalized
        attention and state-of-the-art medical services to meet your needs.
        Thank you for choosing NTG Care—where we are devoted to your well-being
        every step of the way.
      </p>
      <button class="main-btn">Read More</button>
    </div>
    <div class="image">
      <img src="/imgs/about.jpg" alt="about-us" />
    </div>
  </div>
</section>
